#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  padding: 2rem;
  text-align: left;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.input {
  width: 70px;
  height: 15px;
  text-align: center;  
}